RewriteEngine On
RewriteBase /
RewriteRule  ^tests/$                                           index.php                                             [QSA]
RewriteRule  ^tests/(\d+)/$                                     test.php?test_id=$1                                   [QSA]
RewriteRule  ^tests/(\d+)/P([0-9]+)$                            test.php?test_id=$1&partner_id=$2                     [QSA]
RewriteRule  ^tests/(\d+)/allocate-sms$                         allocate-sms.php?test_id=$1                           [QSA]
RewriteRule  ^tests/(\d+)/verify-sms$                           sms-resp.php?test_id=$1                               [QSA]
RewriteRule  ^tests/(\d+)/restart$                              again.php?test_id=$1                                  [QSA]
                                                                                                             
RewriteRule  ^admin/recent/$                                    admin/recent.php                                      [QSA]
RewriteRule  ^admin/statistics/$                                admin/statistics.php                                  [QSA]
RewriteRule  ^admin/tests/$                                     admin/index.php                                       [QSA]
RewriteRule  ^admin/tests/([0-9]+)/$                            admin/test-settings.php?test_id=$1                    [QSA]
RewriteRule  ^admin/tests/([0-9]+)?/files/$                     admin/files.php?test_id=$1                            [QSA]
RewriteRule  ^admin/tests/([0-9]+)/questions/$                  admin/test.php?test_id=$1                             [QSA]
RewriteRule  ^admin/tests/([0-9]+)/questions/([0-9]+)/$         admin/question.php?test_id=$1&question_id=$2          [QSA]
RewriteRule  ^admin/tests/([0-9]+)/questions/([0-9]+)/delete$   admin/delete-question.php?test_id=$1&question_id=$2   [QSA]
RewriteRule  ^admin/tests/([0-9]+)/questions/([0-9]+|new)/edit$ admin/question_editor.php?test_id=$1&question_id=$2   [QSA]
RewriteRule  ^admin/tests/([0-9]+)/questions/reorder/$          admin/reorder-questions.php?test_id=$1                [QSA]
RewriteRule  ^admin/tests/([0-9]+)/delete$                      admin/test-delete.php?test_id=$1                      [QSA]
RewriteRule  ^admin/tests/new/$                                 admin/test-editor.php                                 [QSA]
RewriteRule  ^admin/upload-image/$                              admin/upload.php                                      [QSA]
                                                                                                                  
RewriteRule  ^partner/$                                         partner/index.php                                     [QSA]
RewriteRule  ^partner/accounts/new/$                            partner/signup.php                                    [QSA]
RewriteRule  ^partner/accounts/current/edit$                    partner/profile.php                                   [QSA]
RewriteRule  ^partner/accounts/logout/$                         partner/logout.php                                    [QSA]
RewriteRule  ^partner/accounts/login/$                          partner/login.php                                     [QSA]
RewriteRule  ^partner/statistics/$                              partner/statistics.php                                [QSA]
RewriteRule  ^partner/banners/$                                 partner/banners.php                                   [QSA]
RewriteRule  ^partner/payments/$                                partner/payments-list.php                             [QSA]

RewriteRule  ^setup-rewrite-check/$                            setup.php?rewritecheck=1