.block
  .content
    %h2.title Партнерская программа re:tester
    .inner Получайте процент с дохода от СМС-сообщений пользователей, пришедших по вашей ссылке.
    %h2.title Новости
    .inner Еще раз уменьшили процент по отчислениям, до 0,5%.
    .inner Выплаты опять задерживаются.
