%script{ :src => '../javascripts/test.js' }
%input{ :type => 'hidden', :id => 'test_id', :name => 'test_id', :value => $test->id }
%p
  %a{ :href => "./" } Вернуться к списку тестов
#questions
  - foreach($questions as $question)
    !! question
%p{ :class => 'question', :id => 'question_new' }#question_new
  %span.text Добавить новый вопрос