/ %script{ :src => '../javascripts/test.js' }
.block
  .content
    %h2.title Настройки теста
    .inner
      %form{ :method => 'POST', :action => "test-settings.php?test_id=$test->id", :class => 'form' }
        .columns
          .column.left
            .group
              %label{ :for=>'name', :class=>'label' } Название
              %input{ :type=>'text', :class=>'text_field', :id=>'name', :name=>'name', :value=>htmlspecialchars($test->name) }
              %span.description Напр.: «IQ-тест»
            .group
              %label{ :for=>'design_file', :class=>'label' } Дизайн
              %select{:id=>'design_file', :name=>'design_file' }
                %option{ :value=>'none', :selected=>('' == $test->design_file ? 'selected':'') } (не указан)
                - foreach($design_files as $file)
                  %option{ :value=>$file, :selected=>($file == $test->design_file ? 'selected':'') }= $file
            .group
              %label{ :for=>'handler_file', :class=>'label' } Скрипт, определяющий следующий вопрос
              %select{:id=>'handler_file', :name=>'handler_file' }
                %option{ :value=>'none', :selected=>('' == $test->design_file ? 'selected':'') } (не указан)
                - foreach($handler_files as $file)
                  %option{ :value=>$file, :selected=>($file == $test->handler_file ? 'selected':'') }= $file
            .group
              %label{ :for=>'finisher_file', :class=>'label' } Завершающий скрипт
              %select{:id=>'finisher_file', :name=>'finisher_file' }
                %option{ :value=>'none', :selected=>('' == $test->design_file ? 'selected':'') } (не указан)
                - foreach($finisher_files as $file)
                  %option{ :value=>$file, :selected=>($file == $test->finisher_file ? 'selected':'') }= $file
        .clear
        .group.navform
          %input{ :type=>'submit', :class=>'button', :value => 'Сохранить изменения' }
