%script{ :src => '../javascripts/ajaxupload.3.1.js' }
%script{ :src => '../javascripts/test.js' }
%input{ :type => 'hidden', :id => 'test_id', :name => 'test_id', :value => $test->id }
.block
  .content
    %h2.title Вопросы
    .inner
      %form{ :method => 'POST', :action => 'question.php' }
        %table.table
          %tbody#questions
            %tr
              %th.first &nbsp;
              %th Текст вопроса
              %th Ответов
              %th.last &nbsp;
            - foreach($questions as $question)
              !! question
            %tr.question#question_new
              %td
              %td
                %span.text Добавить вопрос
              %td
              %td
